html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #f8f9fa;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

header h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

header p {
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 4rem;
}

/* Aside */
.title-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-cart h2 {
    font-size: 2.5rem;
    color: #6c757d;
    font-weight: 500;
}

.title-cart p {
    color: #fff;
    background-color: #6c757d;
    border-radius: 10rem;
    padding: .2rem 1rem;
    font-size: 2rem;
    font-weight: bold;
    vertical-align: baseline;
    text-align: center;
}

.list-cart {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 1rem;
}

.list-cart-item {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    list-style: none;
    border: 1px solid rgba(0,0,0,.125);
    margin-bottom: -1px;
    padding: 1.2rem 1.9rem;
}

.list-cart-item:first-child {
    border-top-left-radius: 0.45rem;
    border-top-right-radius: 0.45rem;
}

.list-cart-item:last-child {
    border-bottom-left-radius: 0.45rem;
    border-bottom-right-radius: 0.45rem;
}

.list-cart-item h6 {
    margin: 0;
    margin-bottom: .7rem;
    font-size: 1.7rem;
    font-weight: 400;
}

.list-cart-item small {
    font-size: 1.4rem;
    font-weight: 300;
    color: #6c757d;
}

.list-cart-item span {
    font-size: 1.7rem;
}

.list-cart-item:nth-child(1) span,
.list-cart-item:nth-child(2) span,
.list-cart-item:nth-child(3) span {
    color:#6c757d;
}

.list-cart-item:nth-child(4),
.list-cart-item:nth-child(4) small {
    background-color: #f8f9fa;
    color: #28a745;
}

.list-cart-item:last-child span{
    font-weight: bold;
}

.form-code {
    margin-top: 1.7rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 0.45rem;
    border: 1px solid #ced4da;
    padding: 1rem .5rem;
}

.input-promo {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    align-self: stretch;
}

.input-promo div {
    margin-left: -1px;
}

.input-code {
    display: block;
    font-size: 1.6rem;
    color: #495057;
    border: 1px solid #ced4da;
    border-top-left-radius: 0.45rem;
    border-bottom-left-radius: 0.45rem;
    padding: 0.8rem 1.6rem;
    transition: border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
}

.input-code:focus {
    outline: none;
    border: 1px solid #17a2b8;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.btn {
    display: inline-block;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    border: 1px solid transparent;
    border-top-right-radius: 0.45rem;
    border-bottom-right-radius: 0.45rem;
    padding: 0.8rem 1.7rem;
    font-size: 1.6rem;
    transition: background-color 1s;
}

.btn:hover {
    background-color: #3f4449;
}

/* Main - form */
main h2 {
    font-size: 2.5rem;
    font-weight: 400;
}

.form-main {
    display: flex;
    flex-direction: column;
}

.form-main label {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    font-weight: 300;
}

.form-main .input{
    display: block;
    width: 100%;
    margin-bottom: 1.5rem;
    padding: .9rem 1.2rem;
    font-size: 1.6rem;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.45rem;
    transition: border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
}

.form-main small {
    font-size: 1.7rem;
    color: #495057;
}

.input:focus {
    outline: none;
    border: 1px solid #17a2b8;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.user-name {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.arroba {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    padding: .9rem 1.2rem;
    border-top-left-radius: 0.45rem;
    border-bottom-left-radius: 0.45rem;
    margin-right: -1px;
    font-size: 1.6rem;
    color: #495057;
}

.user-name .input {
    border-top-left-radius: 0;
    border-bottom-left-radius:0;
}

.form-main .input-select {
    padding-left: .7rem;
    background: #fff url(/img/flechas.svg)no-repeat right 0.75rem center;
    background-size: 1rem;
    appearance: none;
}

hr {
    display: block;
    margin-top: 1.8rem;
    width: 100%;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.check-group {
    margin-top: 1.5rem;
}